GCP_PROJECT_ID=                         # Google Cloud Project ID
GCP_BUCKET_NAME=                        # Google Cloud Storage Bucket DOMAIN_NAME
GCP_BUCKET_LOCATION=                    # GCS Bucket Location
STATIC_IP_NAME=                         # Global External Static IP for Load Balancer
SSL_CERT_NAME=                          # Load Balancer SSL Certificate
GCP_DNS_ZONE_NAME=                      # Cloud DNS Zone name
DOMAIN_NAME=                            # Domain name to serve your application to users